<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="LightXDesign" />

    <link href="http://fonts.googleapis.com/css?family=Dosis:300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" media="screen,projection" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Document Title -->
    <title>Search product</title>

</head>

<body class="main-wallpaper">
    <div class="holder" style="margin: 0 auto; width: 600px; ">
        <h1 style="font-size: 37px;">{{ title }}</h1>

        <div class="row">

            <form method="post" class="col s12">

                <div class="row">
                    <div class="input-field col s12">
                        <input name="search" type="text" class="validate" value="{{ value }}">
                        <input class="btn waves-effect waves-light" type="submit" value="Search">
                        <label for="search">Search</label>
                    </div>
                </div>

            </form>

            <ul class=" main clearfix ">
                <ul class="people_list">

                    {% for dataebay in dataebays %}
                    <li>
                      <div class="card horizontal">
                            <div class="card-image">
                              <img style="width: auto; padding:20px;" src="{{ dataebay.galleryURL }}">
                            </div>
                            <div class="card-stacked">
                              <div class="card-content">
                                <span class="card-title">{{ dataebay.title }}</span>
                                <p>{{ dataebay.listingInfo.startTime |date("m/d/Y") }}</p>
                                <p>$ {{ dataebay.sellingStatus.convertedCurrentPrice.amount }}</p>
                              </div>
                              <div class="card-action">
                                <a target="_blank" href="{{ dataebay.viewItemURL }}"> Link</a>
                              </div>
                            </div>
                          </div>

                    </li>
                    {% endfor %}


                </ul>

        </div>


    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>

</html>
